# Ignore node_modules to reduce the Docker image size
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local environment files
.env

# Ignore log files
*.log

# Ignore compiled JavaScript files and maps
dist
build
*.js.map

# Ignore test coverage reports
coverage

# Ignore temporary files
*.tmp
*.swp

# Ignore editor directories and files
.idea
.vscode
.DS_Store

# Ignore Docker-related files
.dockerignore
Dockerfile
